# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
